*{
    box-sizing: border-box;
}

.todolist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
}
.todolist-heading{
    width: 118px;
    height: 41px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #333333;
}
.todolist-items-card{
    display: flex;
    justify-content: space-around;
}
.item-list{
    margin-top: 15px;
    width: 150px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    color: #333333;
    background-color: transparent;
    border:none;
   
}
.horizontal-line{
    width: 608px;
    border: 1px solid #BDBDBD;
    margin-top: 0;
}
.user-input{
    width: 476px;
    height: 56px;
    font-size: 20px;
    padding-left: 15px;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
}
.add-button{
    width: 109px;
    height: 56px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    background: #2F80ED;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border-radius: 12px;
}
.todo-items-container{
    list-style: none;
    padding-left: 0;
}
.todo-items{
    display: flex;
    width: 500px; 
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.checkbox{
    width: 24px;
    height: 24px;
    border: 1px solid #828282;
    border-radius: 5px;
}
.label{
    width: 199px;
    height: 22px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
.checkbox-strike{
    text-decoration: line-through;
}
.active-list{
    border-bottom: #2F80ED solid 4px;
}
.delete-icon-container{
    display: flex;
    justify-content: flex-end;
}
.delete-all-container{
    display: flex;
    visibility: hidden; 
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 40px;
    background: #EB5757;
    border-radius: 4px;
    margin-left: 400px
}
.delete-all{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
}
.icon{
    color: white;
    font-size: 15px;
}
.material{
    padding-left: 300px;
}
.input-container{
    width: 600px;
}